<h2>Upravit pojištění</h2>
<form class="add-new-contract action="">
    <div class="inputs form-row">
        <label for="insType">Druh pojištění</label>
        <select id="insType" name="insType">
            <% const insuranceTypes = [
              'pojištění nemovitosti',
              'pojištění domácnosti',
              'pojištění odpovědnosti',
              'povinné ručení',
              'havarijní pojištění',
              'cestovní pojištění',
              'úrazové pojištění',
              'pojištění odpovědnosti'
            ]; %>
            
            <% insuranceTypes.forEach(type => { %>
              <option value="<%= type %>" <% if (insurance.insType === type) { %>selected<% } %>><%= type %></option>
            <% }); %>
          </select>
    </div>
    <div class="inputs">
        <label for="insValue">Částka</label>
        <input type="text" id="insValue" name="insValue" value="<%= insurance.insValue %>">
    </div>
    <div class="inputs">
        <label for="subject">Předmět</label>
        <input type="text" id="subject" name="subject" value="<%= insurance.subject %>">
    </div>
    <div class="inputs">
        <label for="fromDate">Platnost od</label>
        <input type="date" id="fromDate" name="fromDate" value="<%= insurance.fromDate %>">
    </div>
    <div class="inputs">
        <label for="toDate">Platnost do</label>
        <input type="date" id="toDate" name="toDate" value="<%= insurance.toDate %>">
    </div>
    <div class="inputs form-row">
        <label for="risks">Rizika</label>
        <input type="text" id="risks" name="risks" class="input-wide" value="<%= insurance.risks %>">
    </div>
    <div class="inputs form-row">
        <label for="notes">Poznámka</label>
        <input type="text" id="notes" name="notes" class="input-wide" value="<%= insurance.notes %>">
    </div>
    <button class="btns btn-submit btn-insurance-edit" value="<%= insurance._id %>">Uložit</button>
</form>
